#KGenerators made by Kryniowesegryderiusz (Krynio_ on spigot)
#https://www.spigotmc.org/resources/79246/
#Need help? Join KGenerators discord: https://discord.gg/BZRjhpP4Ab

#Choose lang file. Default possibilities are en, pl, ro, vi, fr, se
#If you want to add your own language contact us on Discord
lang: en

#Database settings
database:
  #Possible options: SQLITE, MYSQL (MariaDB included)
  dbtype: SQLITE
  #Settings for MYSQL
  host: hostname
  port: 3306
  database: database
  username: username
  password: password
  use-ssl: true
  pool-size: 1
  
#By default generator will generate block only on air, otherwise generator will drop. Here you can add blocks, which will be replaced by generated block.
can-generate-instead:
  - WATER
  - LAVA

#List of worlds, where generators wont be enabled:
disabled-worlds:
- test_world

#Should generators be picked up directly to inventory?
pick-up-to-eq: true

#Should block-related drops be added directly to inventory?
block-drop-to-eq: false

#Should block-related exp drops be added directly to user?
exp-drop-to-eq: false

#Should "generators" lang section be sent by actionbar instad of chat?
generators-actionbar-messages: true

#How explosions should be handled, if there is generator inside explode area?
#0 - cancel explosion
#1 - drop generator
#2 - remove generator
explosion-handler: 0

#Should regeneration delay pass, even if chunk is unloaded?
count-delay-on-unloaded-chunks: true

#What should determine, wheather item in hand is a generator or not?
generator-item-matcher:
  #Custom NBT - the most reliable option to match generator 
  check-by-nbt: true
  #Check by item meta - could break on generator item changes
  check-by-item-meta: false

#This configuration section is for configuring actions needed for particular features
#Possible modes: BREAK (avaible only for pick-up), LEFT_CLICK, RIGHT_CLICK, NONE (ex. because of gui usage)
#Item could be "ANY"
#Sneak indicates if shift pressed is required
actions:
  #Action, which will be used for picking up generators
  pick-up:
    mode: BREAK
    item: ANY
    sneak: true
  #Action, which will be used for opening generator gui
  open-gui:
    mode: RIGHT_CLICK
    item: ANY
    sneak: true
  #Action, which will be used for checking how much time left before regeneration
  time-left-check:
    mode: RIGHT_CLICK
    item: ANY
    sneak: false

#Here you can choose which sounds should be played on each action.
#ALWAYS use names from https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/Sound.html
sounds:
  place:
    #Type sound name or "NONE" to disable sound
    sound: BLOCK_ANVIL_LAND
    #Volume should be a number between 0.0 and 10.0 (1.0 is normal)
    volume: 0.2
    #Volume should be a number between 0.0 and 2.0 (0.0 is normal)
    pitch: 0.0
  pick-up:
    sound: ENTITY_BAT_TAKEOFF
    volume: 0.3
    pitch: 0.0
  upgrade:
    sound: ENTITY_PLAYER_LEVELUP
    volume: 0.3
    pitch: 0.0

#These settings are related to performance and its not recommended to set them too low
#Values are presented in ticks (20 ticks = 1 second)
#Changed values need server restart to affect plugin functioning
intervals:
  #How often should generators check if they should regenerate?
  #All generator delays should be multiple of this number
  generation-check: 5
  #How often should holograms be updated?
  hologram-update: 20
  #How often should generators guis be updated?
  #Set -1 to not update GUI
  gui-update: 20

#Debug related options. Support could be not provided if debug messages are not recorded
debug:
  #Debug related to plugin loading configuration
  plugin-load: true
  #Debug related to players actions like picking up, placing, upgrading generators
  players: true
  #Debug related to managing placed generators
  placed-generators-manager: false
  #Debug related to schedules
  schedules: false
  #Debug related to multi-version
  multi-version: false